<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="tem">
<head>
<meta charset="UTF-8"/>
<title>Taches des Employers</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"
th:href="@{css/bootstrap.min.css}"
/>
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"
th:href="@{css/bootstrap-theme.min.css}"
/>
 
     <script type="text/javascript" src="Js/bootstrap.min.js" th:src="@{Js/bootstrap.min.js}"></script>
<script type="text/javascript" src="Js/bootstrap.min.js" th:src="@{Js/jquery-3.5.1.min.js}"></script>

</head>
<body>
<div  layout:fragment="content">
<h2>hello</h2>
<a th:href="@{/download}" style="float: right;"><img th:src="@{/images/exel.png}" style="width: 40px;"></a>
<table>

<thead><tr>
<td>ID</td>
<td>Date</td>
<td>DB</td>
<td>DF</td>
<td>Matricule</td>
</tr>

</thead>
<tbody>
<tr th:each="tache:${taches}">
<td th:text="${tache.id}"></td>
<td th:text="${tache.dateday}"></td>
<td th:text="${tache.datedebut}"></td>
<td th:text="${tache.datefint}"></td>
<td th:text="${tache.employer.id}"></td>


</tr>

</tbody>
</table>
</div>
</body>
</html>